.emails-editor
  max-width: 500px

  .emails-editor__control-container
    background: #F5F5F5
    padding: 30px 40px

  .emails-editor__title
    margin: 0 0 33px 0
    color: #333333
    font-weight: normal
    font-size: 20px

  .emails-editor__add-random
    margin-left: 40px
    margin-right: 20px

  .emails-editor__add-random, .emails-editor__show-valid-count
    $background-color: #6699ff
    background-color: $background-color
    border: none
    border-radius: 4px
    color: white
    cursor: pointer
    margin-top: 30px
    font-size: 13.5px
    padding: 8px 16px 10px
    letter-spacing: 0.02em
    transition: 50ms background-color ease-in

    &:focus
      outline: none

    &:hover
      background-color: darken($background-color, 5%)