<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emails Editor</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <style>
        body {
            margin: 0;
        }

        body, input, button {
            font-family: 'Open Sans', sans-serif;
        }
    </style>

    <script src="emails-editor.js"></script>
    <% if(htmlWebpackPlugin.options.includeStyles) { %>
        <link type="text/css" rel="stylesheet" href="emails-editor.css">
    <% } %>
</head>
<body>

<div id="email-editor"></div>

<script>
    (() => {
        const container = document.querySelector('#email-editor');
        const options = {
            container
        };

        window.emailsController = EmailsEditor.create(options);
    })();
</script>

</body>
</html>