$height: 24px
$content-padding-right: 8px

.emails-control__email
  position: relative
  padding: 0 10px
  margin: 0 4px 7px 0
  max-width: 100%
  float: left
  height: $height
  line-height: $height
  background-color: #D4E4FF
  border-radius: 12px
  font-size: 14px
  transition: 100ms background-color ease-out

  .emails-control__email-content
    float: left
    position: relative
    max-width: calc(100% - 13px)
    max-height: 100%
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    padding-right: $content-padding-right

  .emails-control__email-input
    border: none
    background: none
    position: absolute
    left: 10px
    height: inherit
    line-height: inherit
    font-size: inherit
    width: calc(100% - 30px)
    padding: 0
    margin: 0
    opacity: 0
    z-index: 1

    &:focus
      outline: none

  .emails-control__email-remove
    float: left
    height: $height
    width: 10px
    font-size: 17px
    cursor: pointer
    margin-right: -1px
    opacity: 1
    transition: 100ms opacity ease-out

    &:before
      content: '\D7'
      vertical-align: middle

  &.emails-control__email--active
    background: none

    .emails-control__email-content
      opacity: 0

    .emails-control__email-input
      opacity: 1

    .emails-control__email-remove
      opacity: 0
      pointer-events: none
      cursor: default

  &.emails-control__email--invalid
    background: none

    .emails-control__email-content

      &:after
        content: ""
        position: absolute
        display: block
        bottom: 0
        left: 0
        right: $content-padding-right
        border-bottom: 1px dashed #d14836