.emails-control
  border-top: 1px solid #cccccc
  padding: 7px 8px
  background: white
  height: 85px
  overflow-y: auto

  .emails-control__email

    &.emails-control__email--new
      min-width: 160px
      padding-left: 6px

      .emails-control__email-input
        left: 6px